<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut i" href="favicon.ico">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<title>Excel</title>
</head>
<body>
	<div id="app" class="container">
		
		<div class="excel">
			
			<!-- Header -->
			<header class="header">

				<div class="header__input">
					<input type="text" placeholder="Enter name of table">
				</div>
				
				<div class="header__actions">

					<button class="btn">
						<span class="material-symbols-outlined">
							delete
						</span>
					</button>

					<button class="btn">
						<span class="material-symbols-outlined">
							exit_to_app
						</span>
					</button>
				
				</div>
			</header>

			<!-- Toolbar -->
			<div class="toolbar">
				<div class="toolbar__inner">
					
					<button class="btn">
						<span class="material-symbols-outlined">
							format_bold
						</span>
					</button>

					<button class="btn">
						<span class="material-symbols-outlined">
							format_italic
						</span>
					</button>

					<button class="btn">
						<span class="material-symbols-outlined">
							format_underlined
						</span>
					</button>

					<button class="btn">
						<span class="material-symbols-outlined">
							format_align_left
						</span>
					</button>

					<button class="btn">
						<span class="material-symbols-outlined">
							format_align_center
						</span>
					</button>

					<button class="btn">
						<span class="material-symbols-outlined">
							format_align_right
						</span>
					</button>
				</div>
			</div>

			<!-- formula -->
			<div class="formula">
				<div class="formula__icon">fx:</div>
				<div class="formula__input">
					<input type="text" placeholder="...">
				</div>
			</div>

			<!-- table -->
			<div class="table">
				
				<div class="row">
					<div class="row__info">
						0
					</div>
					
					<div class="row__data">
						<div class="column">
							A
						</div>

						<div class="column">
							B
						</div>

						<div class="column">
							C
						</div>
					</div><!-- /.row__data -->
				
				</div><!-- /.row -->

				<div class="row">
					<div class="row__info">1</div>
					<div class="row__data">
						<div class="cell selected" contenteditable>A1</div>
						<div class="cell" contenteditable>B1</div>
						<div class="cell" contenteditable>C1</div>
					</div>
				</div>

				<div class="row">
					<div class="row__info">2</div>
					<div class="row__data">
						<div class="cell">A2</div>
						<div class="cell">B2</div>
						<div class="cell">C2</div>
					</div>
				</div>

			</div><!-- /.table -->

		</div><!-- /.excel -->

	</div><!-- /.app -->
</body>
</html>