$border-color: #c0c0c0;

$header-height: 46px;
$toolbar-height: 50px;
$formula-height: 42px;

$db-header-height: 64px;
$db-new-height: 224px;

$info-cell-width: 40px;
$cell-width: 100px;
$row-height: 24px;